In [14]:
#TODO: import the modules
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split 
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE, SelectKBest, chi2
from sklearn import svm
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
from sklearn import metrics

In [15]:
features = ['VendorID', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 
            'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tolls_amount', 
            'improvement_surcharge', 'total_amount', 'trip_type', 'congestion_surcharge', 'tip']

file_path = '/Users/mattrusso/Desktop/trip_data 3.csv'
df = pd.read_csv(file_path, usecols=features)

X = df.iloc[:,0:14].to_numpy() #input features
y = df.iloc[:,14].tolist() #labels

In [16]:
df

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tolls_amount,improvement_surcharge,total_amount,trip_type,congestion_surcharge,tip
0,2.0,1.0,24,41,1.0,0.67,5.5,0.5,0.5,0.0,0.3,8.84,1.0,0.00,good
1,2.0,1.0,112,232,1.0,2.64,10.0,0.5,0.5,0.0,0.3,16.86,1.0,2.75,low
2,2.0,1.0,97,227,5.0,3.85,18.0,0.5,0.5,0.0,0.3,22.20,1.0,0.00,low
3,2.0,1.0,223,129,1.0,2.97,11.5,0.5,0.5,0.0,0.3,13.80,1.0,0.00,low
4,2.0,1.0,223,7,1.0,1.60,8.0,0.5,0.5,0.0,0.3,11.62,1.0,0.00,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171936,2.0,1.0,116,42,1.0,0.61,5.0,0.5,0.5,0.0,0.3,6.30,1.0,0.00,no-tip
171937,2.0,1.0,74,75,1.0,0.93,4.5,0.5,0.5,0.0,0.3,10.80,1.0,0.00,good
171938,2.0,1.0,255,95,1.0,6.45,22.0,0.5,0.5,0.0,0.3,28.75,1.0,0.00,low
171939,2.0,1.0,61,80,1.0,3.77,15.5,0.5,0.5,0.0,0.3,21.84,1.0,0.00,good
171940,2.0,1.0,190,229,1.0,8.27,27.5,0.5,0.5,0.0,0.3,37.86,1.0,2.75,standard

In [17]:
seed = 5
#Split the dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = .30, #TODO: provide the test_size (refer to the instructions for the assignment)
                                                    random_state = 42, #seed the random generator for reproducibilty
                                                    stratify = y
                                                   )

#Note: X_train and y_train are the input features and labels for the training set respectively.
#Note: X_test and y_test are the input features and labels for the test set respectively.

In [18]:
#Create the RandomForestClassifier

rf_classifier = RandomForestClassifier(criterion= 'entropy',  
                                    max_depth= 15 ,     #TODO: provide a value. The depth should not exceed 15.
                                    max_features= 5,  #TODO: provide a suitable value
                                    min_samples_split= 2, #TODO: provide a suitable value
                                    n_estimators= 100 , #TODO: provide a suitable value
                                    random_state= 10 #TODO: provide a suitable value
                                    )

#TODO: Train classifer using the `fit` method


#TODO: Make predictions with the test set


#TODO: evaluate the accuracy

In [19]:
rf_classifier

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=15, max_features=5,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [20]:
rf_classifier.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=15, max_features=5,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [21]:
y_pred = rf_classifier.predict(X_test)

In [22]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9085939166004304

In [23]:
#TODO: Use the model to make predictions with the supplied test set: `new_trips.csv`

In [24]:
features_2 = ['VendorID', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 
            'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tolls_amount', 
            'improvement_surcharge', 'total_amount', 'trip_type', 'congestion_surcharge']

file_path_2 = '/Users/mattrusso/Desktop/new_trips.csv'
df_2 = pd.read_csv(file_path_2, usecols=features_2)

X = df.iloc[:,0:13].to_numpy() #input features
y = df.iloc[:,13].tolist() #labels

In [25]:
df_2

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tolls_amount,improvement_surcharge,total_amount,trip_type,congestion_surcharge
0,1,1,42,230,1,5.40,18.00,3.25,0.5,0.00,0.3,24.05,1,2.75
1,2,1,75,137,3,4.88,15.00,0.50,0.5,0.00,0.3,19.05,1,2.75
2,2,5,254,74,1,9.71,28.33,0.00,0.5,0.00,0.0,28.83,2,0.00
3,2,5,29,39,1,8.86,25.38,0.00,0.5,0.00,0.0,25.88,2,0.00
4,2,1,75,138,1,8.09,23.50,0.50,0.5,5.76,0.3,36.67,1,0.00
5,2,5,203,134,1,8.22,22.83,0.00,0.5,0.00,0.0,23.33,1,0.00
6,1,1,145,230,1,4.60,18.50,3.25,0.5,0.00,0.3,27.05,1,2.75
7,2,1,116,166,1,1.07,6.50,0.50,0.5,0.00,0.3,8.80,1,0.00
8,2,1,74,41,1,1.50,9.00,0.00,0.5,0.00,0.3,11.76,1,0.00
9,2,1,33,249,1,3.92,14.50,0.00,0.5,0.00,0.3,21.66,1,2.75
10,1,1,42,166,1,2.00,9.00,0.00,0.5,0.00,0.3,12.74,1,0.00
11,2,1,74,75,1,1.52,7.50,0.00,0.5,0.00,0.3,9.96,1,0.00
12,2,1,7,7,1,0.77,5.00,0.50,0.5,0.00,0.3,7.56,1,0.00
13,2,1,41,246,1,5.22,18.00,0.50,0.5,0.00,0.3,26.05,1,2.75
14,1,1,130,215,1,1.70,7.50,0.50,0.5,0.00,0.3,10.00,1,0.00
15,2,1,80,79,1,5.34,21.50,0.50,0.5,0.00,0.3,30.66,1,2.75
16,2,1,82,132,1,12.24,36.00,0.50,0.5,0.00,0.3,44.76,1,0.00
17,2,1,83,138,1,3.17,11.50,0.00,0.5,0.00,0.3,14.14,1,0.00
18,1,1,7,261,1,9.80,30.50,3.25,0.5,0.00,0.3,44.90,1,2.75
19,2,1,256,37,1,2.51,12.00,0.50,0.5,0.00,0.3,17.80,1,0.00

In [26]:
rf_classifier.predict(df_2)

array(['low', 'no-tip', 'no-tip', 'no-tip', 'standard', 'no-tip',
       'standard', 'standard', 'low', 'standard', 'standard', 'standard',
       'standard', 'standard', 'low', 'standard', 'standard', 'low',
       'standard', 'good'], dtype='<U8')

The results from the predictions above are interesting - I was a little surprised by some of the "no-tip" predictions as a few of them are towards the higher range for fare_amount. This was one of the features that was classified as being relevant as seen in our last assignment. I expected to see a majority of the predictions be classified as "standard" which they are. It would be neat to take a deeper in-depth look at all the features and see the impact it had on the predictions. I think that would allow us to gain some more insight on the "tip".